*.org*
*.elc
*.html

tramp
custom.el
\*eshell\*
bookmarks
projectile-bookmarks.eld
recentf
local.el

auto-save-list/
eshell/lastdir
eshell/history
backup/
transient/

straight/build-cache.el
straight/build
straight/repos
/.cache/
/.lsp-session-v1
/ido.last
/projects
